body {
    min-height : 100vh;
    display : flex;
    flex-direction : row;
    justify-content : center;
}
section {
    background : #F3F6FA;
    width : 500px;
    border : 1px solid black;
}

h1 {
    text-align : center;
    font-size : 30px;
}

.calc_container {
    display : grid;
    grid-template-columns : repeat(4, 1fr);
    grid-template-rows : repeat(9, 55px);

    grid-gap : 10px;
    margin : 10px;
    padding : 10px;

    text-align : center;

    background : #EAF2F8;
    border : 1px solid black;
}

.item {
    border : 1px solid black;
}

.item:nth-child(1) {
    text-align : right;
    grid-column : 1 / 5;
    grid-row : 1/ 3;
    background : #F3F6FA;
}

.item:nth-child(2) {
    grid-column : 1 / 5;
    grid-row : 3 / 4;
    border : none;
}

.item.memory {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-content : center;
}

.memory {
    flex-basis : 70px;
    type : button;
    background : none;

    font-size : 20px;
    border-radius : 0.3em;
    cursor : pointer;

    border : none
}

button {
    type : button;
    background : #DAE9F6;
    font-size : 20px;
    border-radius : 0.3em;
    cursor : pointer;
}

.s1 {
    background : rgba(200, 220, 240);
}

.equal {
    background : #4682B4;
}

button:hover {
    background : #C9D6E0;
}

.equal:hover {
    background : #426080;
}

button:active {
    opacity : 0.7;
}

.equal:hover {
    background : #426080;
}

.equal:active {
    opacity : 0.7;
}
